@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaira: #0F0E0E;
    --cor-secundaria: #EEEEEE;
    --cor-terciarial: #8B9A46;
    --cor-hovver: #541212;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaira);
    color: var(--cor-secundaria)
}

.cabecalho {
    padding: 1% 0 0 20%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: var(--cor-terciarial);
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
}

.container__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container__conteudo__titulo {
    font-family: var(--font-primaria);
    font-size: 2.25rem;
}

.container__conteudo__paragrafo {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
}

.destaque-titulo {
    color: var(--cor-terciarial);
}

.container__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.container__conteudo__links__titulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.conteudo__links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--cor-terciarial);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 21px 0px;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    gap: 16px;
}

.conteudo__links__link:hover {
    background-color: var(--cor-hovver);
}

.container__img {
    width: 50%;
}

.rodape {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    background-color: var(--cor-terciarial);
    color: var(--cor-primaira);
    padding: 24px;
    text-align: center;
}

.container__conteudo__formulario {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container__conteudo__formulario__input {
    border: 4px solid var(--cor-terciarial);
    font-size: 1.5rem;
    padding: 2% 0 2% 0;
}

@media (max-width: 1200px) {
    
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{

        justify-content: center;
    }

    .container{
        flex-direction: column-reverse;
        padding: 10%;
    }

    .container__conteudo {
        width: auto;
    }
}